<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">

	<title>Author & Books</title>

</head>
<body>
  <div class="container" ng-controller="pageController as page" style="margin-top: 80px;">
    <h2 class="alert alert-danger" ng-show="page.error" style="text-align: center">{{ page.error }}</h2>
    
    <div>
      <react-component name="HelloComponent" props="person" watch-depth="reference"/>
    </div>
  
    <h2 class="alert alert-info" style="text-align: center">{{ page.hint(); }}</h2>

  

    <div class="row">
      <div class="col-md-2">
        <button ng-click="page.randomSelect()" class="btn btn-primary" type="submit">Мне повезет!
        </button>
      </div>
    </div>

    <br>
    <div class="row">
      <div class="col-md-3">
        <label for="author">Автор</label>
        <select id="author" ng-change="page.authorChanged()" ng-model="page.state.author" ng-options="author.name for author in page.state.authors">
        </select>
      </div>
      <div class="col-md-3">
        <label for="book">Книга</label>
        <select id="book" ng-change="page.bookChanged()" ng-model="page.state.book" ng-options="book.name for book in page.state.books">
        </select>       
      </div>
    
      <div class="col-md-3 well" ng-controller="PopularAuthorsController as popular">
        <h4>Популярные авторы</h4>    
        <ul>
          <li ng-repeat="author in popular.popularAuthors">
            <a href="#" ng-click="popular.authorSelected(author)">{{ author.name }}</a>
          </li>
        </ul>

      </div>


    </div>
 
    <br>
    
 
    

  </div>
  


    
  

</body>

  <script src="node_modules/angular/angular.js"></script>
  <script src="dist/bundle.js"></script>
</html>